/* App-specific (here: Event Scheduler) styles, app-wide in "root" */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* Font looks professional enough, without serifs */
}

#home {
  text-decoration: none;
  color: #ff5e00;
}

#home a {
  text-decoration: none;
  color: inherit;
}

#home a:hover {
  color: #ff78188e;
  cursor: pointer;
}
