.event-preview-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  align-items: flex-start;
}

.event-preview-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: auto;
  width: 576px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  background-color: #ffcc80;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.event-preview-card-img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  display: block;
}

.event-preview-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3px;
  width: 100%;
  margin-left: 1rem;
}

/* SHOW/HIDE DETAIL BUTTON */
.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.button-style {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #f4a261;
  background-color: #f4a261;
  border-radius: 50%;
}

.button-style:hover {
  background-color: #ffcc808a;
}

.event-preview-card.expanded {
  height: auto;
  overflow: hidden;
}

/* Everything related to SHOW DETAILS */
.event-details {
  margin-top: 10px;
  padding: 10px;
  text-align: left;
  width: 576px;
  background-color: #ffcc80;
}

.event-details-content {
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  padding: 10px;

  text-align: left;
}

th {
  background-color: #f4a261;
  color: white;
}
